In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
def data_split(data):
    data_copy = data.copy()
    
    num_data = data_copy.shape[0]
    split_val = int(num_data*0.8)                       # 80:20
    train_data = data_copy[:split_val]
    test_data = data_copy[split_val:]

    X_train = train_data[['Open','High','Low','Volume','Turnover']]
    Y_train = train_data[['Close']]

    X_test = test_data[['Open','High','Low','Volume','Turnover']]
    Y_test = test_data[['Close']]

    return X_train,Y_train,X_test,Y_test

In [4]:
def readData(path):
    data = pd.read_csv(path , )
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace = True)
    data.dropna(inplace = True)
    return data

In [5]:
def volatility(data, Rf):
    
    Nifty = readData('../datasets/inidices/NIFTY 50.csv')
    Nifty = Nifty.loc['2019-1-1':'2021-1-1']

    data = data.loc['2019-1-1':'2021-1-1']

    beta = np.cov(Nifty['Close'], data['Close'])[0][1]/data['Close'].var()

    alpha = (data['Close'][-1] - data['Close'][0])/data['Close'][0] - Rf + beta * ((Nifty['Close'][-1] - Nifty['Close'][0])/Nifty['Close'][0] - Rf)

    print(alpha * 100, beta)

In [6]:
data = readData('../datasets/companies/LICHSGFIN.csv')
X_train,Y_train,X_test,Y_test = data_split(data)

In [7]:
volatility(data, 0.08)

58.232064297892514 4.325034575578774

In [13]:
def preprocess(data):
    start_date = "2012-03-01"
    end_date = "2021-01-07"
    df=data.loc[start_date:end_date]

    df = df[["Open", "High", "Low", "Close", "Volume", "Turnover"]]
    df.dropna()
    return df

In [15]:
data = readData('../datasets/companies/LICHSGFIN.csv')
data = data.loc[]
df = preprocess(data)
df

              Open   High     Low   Close    Volume      Turnover
Date
2012-02-01  222.05  224.0  214.10  218.00   2135911  4.645520e+13
2012-03-01  219.70  228.0  219.00  226.90   1738685  3.920190e+13
2012-04-01  229.90  230.0  223.90  226.10   1483065  3.360090e+13
2012-05-01  226.10  229.0  225.50  227.65   1083121  2.464430e+13
2012-06-01  226.00  227.0  221.50  225.25   1293012  2.904370e+13
...            ...    ...     ...     ...       ...           ...
2021-01-02  401.60  449.0  392.50  432.90  13821161  5.773800e+14
2021-01-03  435.00  437.4  428.00  433.20   3331413  1.442190e+14
2021-01-04  431.75  433.9  424.00  432.85   2815660  1.209170e+14
2021-01-06  470.95  479.0  466.55  477.60   5008157  2.372650e+14
2021-01-07  470.70  475.3  468.70  470.25   1832833  8.653700e+13

[2236 rows x 6 columns]