In [3]:
import pandas as pd
from pandas import Series as Series
import numpy as np
import matplotlib.pyplot as plt

In [26]:
def data_split(data):
    data_copy = data.copy()
    data_copy = data_copy.sort_values('Date')
    data_copy.set_index('Date',inplace=True)
    data_copy.dropna(inplace=True)
    
    num_data = data_copy.shape[0]
    split_val = int(num_data*0.8)                       # 80:20
    train_data = data_copy[:split_val]
    test_data = data_copy[split_val:]

    X_train = train_data[['Open','High','Low','Close','Volume','Turnover']]
    Y_train = train_data[['Close']]

    X_test = test_data[['Open','High','Low','Close','Volume','Turnover']]
    Y_test = test_data[['Close']]

    return X_train,Y_train,X_test,Y_test

In [30]:
data = pd.read_csv('../datasets/inidices/NIFTY 50.csv')

In [31]:
Xtrain, Ytrain, Xtest, Ytest = data_split(data)

Xtrain

ValueError: not enough values to unpack (expected 4, got 2)

In [29]:
Ytrain

              Close
Date
1997-01-01   939.55
1997-01-02   927.05
1997-01-03   931.65
1997-01-06   927.80
1997-01-07   928.80
...             ...
2016-07-21  8510.10
2016-07-22  8541.20
2016-07-25  8635.65
2016-07-26  8590.65
2016-07-27  8615.80

[4877 rows x 1 columns]