In [40]:
# packages and modules required are loaded here

import pandas as pd
import numpy as np

## DATA PREPROCESSING

### we are using NIFTY 50.csv , it comprises The NIFTY 50 is a **benchmark** Indian stock market index that represents the weighted average of 50 of the largest Indian companies listed on the National Stock Exchange. It is one of the two main stock indices used in India

In [41]:
nifty50_df = pd.read_csv('datasets/inidices/NIFTY 50.csv')

nifty50_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Turnover'], dtype='object')

In [42]:
nifty50_df.shape

(7510, 7)

In [43]:
nifty50_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7510 entries, 0 to 7509
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      7510 non-null   object
 1   Open      7510 non-null   float64
 2   High      7510 non-null   float64
 3   Low       7510 non-null   float64
 4   Close     7510 non-null   float64
 5   Volume    6097 non-null   float64
 6   Turnover  6097 non-null   float64
dtypes: float64(6), object(1)
memory usage: 410.8+ KB

### From the volume and Turnover columns we see that they have null values as Stock inception in India is on 1995-11-03 
- for practical purposes and to take into account factors like inflation,recession period,etc it makes sense to consider tuples from 2005-present
    - covers pre and post recession period (dataset starting point 2000-01-03 )
    - so to be consistent we also do a similar numerosity reduction for the other assets(gold) , and also for the other indices being used

In [44]:
start = nifty50_df[nifty50_df['Date']=='2000-01-03'].index[0]
# start
nifty50_df = nifty50_df[start:]

nifty50_df.head

<bound method NDFrame.head of             Date      Open      High       Low     Close       Volume  \
2161  2000-01-03   1482.15   1592.90   1482.15   1592.20   25358322.0
2162  2000-01-04   1594.40   1641.95   1594.40   1638.70   38787872.0
2163  2000-01-05   1634.55   1635.50   1555.05   1595.80   62153431.0
2164  2000-01-06   1595.80   1639.00   1595.80   1617.60   51272875.0
2165  2000-01-07   1616.60   1628.25   1597.20   1613.30   54315945.0
...          ...       ...       ...       ...       ...          ...
7505  2021-06-25  15839.35  15870.80  15772.30  15860.35  314614380.0
7506  2021-06-28  15915.35  15915.65  15792.15  15814.70  255099272.0
7507  2021-06-29  15807.50  15835.90  15724.05  15748.45  360334724.0
7508  2021-06-30  15776.90  15839.10  15708.75  15721.50  262386323.0
7509  2021-07-01  15755.05  15755.55  15667.05  15680.00  224921644.0

          Turnover
2161  8.841500e+09
2162  1.973690e+10
2163  3.084790e+10
2164  2.531180e+10
2165  1.914630e+10
...            ...
7505  2.693322e+11
7506  1.871341e+11
7507  2.439213e+11
7508  2.037976e+11
7509  1.735997e+11

[5349 rows x 7 columns]>

In [45]:
nifty50_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5349 entries, 2161 to 7509
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5349 non-null   object
 1   Open      5349 non-null   float64
 2   High      5349 non-null   float64
 3   Low       5349 non-null   float64
 4   Close     5349 non-null   float64
 5   Volume    5349 non-null   float64
 6   Turnover  5349 non-null   float64
dtypes: float64(6), object(1)
memory usage: 292.7+ KB

In [46]:
nifty50_df.describe()

,Open,High,Low,Close,Volume,Turnover
count,5349.000000,5349.000000,5349.000000,5349.000000,5.349000e+03,5.349000e+03
mean,5631.777987,5668.969817,5586.647962,5628.562909,1.898864e+08,8.282568e+10
std,3659.900412,3671.555733,3638.389506,3655.210760,1.733888e+08,8.288374e+10
min,853.000000,877.000000,849.950000,854.200000,1.394931e+06,4.012000e+08
25%,2079.400000,2097.600000,2062.350000,2079.450000,8.127852e+07,3.157290e+10
50%,5233.450000,5274.950000,5195.900000,5230.100000,1.423860e+08,6.099090e+10
75%,8327.800000,8364.750000,8270.150000,8324.150000,2.166700e+08,9.256510e+10
max,15915.350000,15915.650000,15842.400000,15869.250000,1.811564e+09,7.852293e+11

### Similarly for the other datasets we are using we go for Numerosity reduction(start of time:2000-01-03) for the above mentioned reasons

In [47]:
niftyAuto_df = pd.read_csv('datasets/inidices/NIFTY AUTO.csv')
start = niftyAuto_df[niftyAuto_df['Date']=='2005-01-03'].index[0]
niftyAuto_df = niftyAuto_df[start:]


niftyBank_df = pd.read_csv('datasets/inidices/NIFTY BANK.csv')
start = niftyBank_df[niftyBank_df['Date']=='2005-01-03'].index[0]
niftyBank_df = niftyBank_df[start:]

niftyIT_df = pd.read_csv('datasets/inidices/NIFTY IT.csv')
start = niftyIT_df[niftyIT_df['Date']=='2005-01-03'].index[0]
niftyIT_df = niftyIT_df[start:]

niftyFin_Services_df = pd.read_csv('datasets/inidices/NIFTY FIN SERVICE.csv')
start = niftyFin_Services_df[niftyFin_Services_df['Date']=='2005-01-03'].index[0]
niftyFin_Services_df = niftyFin_Services_df[start:]

print("Auto index info:\n")
niftyAuto_df.info()

Auto index info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4092 entries, 254 to 4345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4092 non-null   object
 1   Open      2414 non-null   float64
 2   High      2414 non-null   float64
 3   Low       2414 non-null   float64
 4   Close     4092 non-null   float64
 5   Volume    2461 non-null   float64
 6   Turnover  2461 non-null   float64
dtypes: float64(6), object(1)
memory usage: 223.9+ KB

In [48]:
print("\n\nBank index info:\n")
niftyBank_df.info()

Bank index info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4092 entries, 1258 to 5349
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4092 non-null   object
 1   Open      3982 non-null   float64
 2   High      3982 non-null   float64
 3   Low       3982 non-null   float64
 4   Close     4092 non-null   float64
 5   Volume    4082 non-null   float64
 6   Turnover  4082 non-null   float64
dtypes: float64(6), object(1)
memory usage: 223.9+ KB

print("\n\nIT index info:\n")
niftyIT_df.info()

In [49]:
print("\n\nFin_Services index info:\n")
niftyFin_Services_df.info()

Fin_Services index info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4092 entries, 254 to 4345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4092 non-null   object
 1   Open      2315 non-null   float64
 2   High      2315 non-null   float64
 3   Low       2315 non-null   float64
 4   Close     4092 non-null   float64
 5   Volume    2417 non-null   float64
 6   Turnover  2417 non-null   float64
dtypes: float64(6), object(1)
memory usage: 223.9+ KB

In [51]:
#  We have the start point from 2009-12-01
goldPrices_df = pd.read_csv('datasets/gold_prices.csv')

# need to reverse the dataset as last row has oldest date
goldPrices_df = goldPrices_df[::-1]

print("\n\nGold prices info:\n")
goldPrices_df.info()

Gold prices info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1660 entries, 1659 to 0
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1660 non-null   object
 1   Open                       1660 non-null   float64
 2   High                       1660 non-null   float64
 3   Low                        1660 non-null   float64
 4   Close                      1660 non-null   float64
 5   WAP                        1660 non-null   float64
 6   No. of Shares              1660 non-null   float64
 7   No. of Trades              1660 non-null   float64
 8   Total Turnover             1660 non-null   float64
 9   Deliverable Quantity       1660 non-null   float64
 10  % Deli. Qty to Traded Qty  1660 non-null   float64
 11  Spread H-L                 1660 non-null   float64
 12  Spread C-O                 1660 non-null   float64
dtypes: float64(12), object(1)
memory usage: 168.7+ KB

## All data has been preprocessed, we can move to Descriptive Analytics